@import "../../particles/variables";

.testimonial {
  background-color: #faf9f6;
  padding-top: 3.75rem;
  padding-bottom: 3.75rem;
  margin-bottom: 152px;

  &__title {
    text-align: center;
    margin-bottom: 3.125rem;
  }

  &__card {
    padding: 2.375rem 1.875rem;
    margin: auto;
    max-width: 565px;
    background-color: white;
    border-radius: 1.188rem;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px,
      rgba(0, 0, 0, 0.23) 0px 6px 6px;
  }

  &__image {
    width: 3.25rem;
    height: 3.25rem;
  }

  &__header {
    display: flex;
    align-items: center;
    gap: 0.813rem;
  }

  &__star {
    width: 24px;
    height: 24px;
    margin-top: 1rem;
    margin-bottom: 1.438rem;
    margin-right: 0.688rem;
  }

  &__link {
    margin-left: auto;
    font-weight: $font-bold;
  }

  a {
    color: $red-color;
    font-size: 1rem;
  }

  @media screen and (max-width: 576px) {
    margin-bottom: 50px;
    padding: 3.125rem 1.5rem;

    &__title {
      margin-bottom: 2.25rem;
    }

    a {
      font-size: 0.875rem;
    }
  }
}
