.container {
  max-width: 1172px;
  padding-left: 1rem;
  padding-right: 1rem;
  margin: auto;
}

.container-fluid {
  width: 100%;
  margin: auto;
}

// @media screen and (max-width: 375px) {
//   .container {
//     width: 100%;
//     // padding-left: 0px;
//     // padding-right: 0px;
//   }
// }
